{% extends "base.html" %}
{% load static %}

{% block title %}Terms of Service - Lilurls{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-10 text-light">
    <h1 class="text-3xl font-bold text-center mb-12">Terms of Service</h1>
    <div class="max-w-2xl mx-auto bg-dark border border-neutral-800 p-6 rounded-lg shadow">
        <h2 class="text-2xl font-semibold mb-4">1. Introduction</h2>
        <p class="mb-4">The terms of service establish the rules for accessing and using the Lilurls, including any content functionality and services offered by Site, whether as a guest or registered user.</p>
        <p class="mb-4">Be sure to read the terms of service carefully before using the Site. This page explains the terms of use of Lilurls, the user when using the Site is conditioned to the acceptance of the terms of use.</p>
        <p class="mb-4">Lilurls is a service that transforms the link from a site, blog, forum or social network into a shortened link to be shared in elsewhere.</p>

        <h2 class="text-2xl font-semibold mt-6 mb-4">2. Use of Service</h2>
        <p class="mb-4">In order to provide a free and secure service, it is necessary to agree to the conditions of use when using our services.</p>
        <ul class="list-disc ml-6 mb-4">
            <li>Shortened URLs will expire after seven days</li>
        </ul>
        <p class="mb-4">Lilurls is available for users of all countries and of any age, therefore it is not allowed to create shortened URLs that redirect to:</p>
        <ul class="list-disc ml-6 mb-4">
            <li class="mb-2">Content that spreads phishing, malware or viruses</li>
            <li class="mb-2">Abusive or suspicious content</li>
            <li class="mb-2">Pornographic or sexual content</li>
            <li class="mb-2">Violent or prejudiced content</li>
            <li class="mb-2">Content related to drugs, weapons or alcohol</li>
            <li class="mb-2">Content that may infringe other people's rights</li>
            <li class="mb-2">Disgusting, explicit or offensive content that causes any kind of discomfort to users</li>
            <li class="mb-2">Pop-ups, scripts and malicious code</li>
            <li>Double redirection</li>
        </ul>
        <p class="mb-4">Any shortened URL that leads to a landing page that fits the above conditions may be deleted, all URLs created are analyzed by our team. If we receive a report of spam or notice any kind of abusive behavior against our terms of service the shortened URL will be deleted without notice.</p>
        <p class="mb-4">If you want to request an update or correction of a shortened URL that you created, access our contact form informing the long URL and the short URL, our team will check if it is possible to change your shortened URL.</p>
        
        <h2 class="text-2xl font-semibold mt-6 mb-4">3. Disclaimer</h2>
        <p class="mb-4">Lilurls, being a complimentary service, comes with certain limitations. As such, we cannot assure uninterrupted or flawless functionality at all times. The availability and performance of our site or services may vary, and we do not guarantee continuous, uninterrupted, secure, or error-free operation. Neither our team nor the owners of Lilurls shall be held accountable for any errors, omissions, or inconsistencies found on the site, nor for any potential damage that might arise from using our service.</p>
        
        <h2 class="text-2xl font-semibold mt-6 mb-4">4. User's Responsibility</h2>
        <p class="mb-4">By utilizing Lilurls, you acknowledge and accept full personal responsibility for the outcomes of your actions related to the use of our site and its services. You agree to bear sole responsibility for any damages, injuries, or other consequences that may result from your usage of Lilurls, including but not limited to the services and resources it provides. It is your duty to exercise prudent judgment and perform thorough due diligence before taking any action based on the content, suggestions, or recommendations found on our site.</p>
        
        <h2 class="text-2xl font-semibold mt-6 mb-4">5. Errors and Omissions</h2>
        <p class="mb-4">While Lilurls provides its services free of charge, we do not guarantee that the information presented on our site is always accurate, complete, or current. Efforts are made to ensure the reliability of the content, but it is not infallible. As a user of Lilurls, you acknowledge that there may be inaccuracies or errors in the information provided. It is your responsibility to independently verify any information you intend to rely upon and to make informed decisions based on your own judgment and discretion.</p>
        
        <h2 class="text-2xl font-semibold mt-6 mb-4">6. No Guarantees</h2>
        <p class="mb-4">By using Lilurls, you acknowledge that we make no guarantees regarding the outcomes of any actions you take based on our site's content or suggestions. While Lilurls offers tools and resources aimed at supporting users in various endeavors, including business, there is no assurance that these resources will guarantee success.</p>
        <p class="mb-4">It is important to understand that past results achieved by other users of Lilurls are not indicative of future outcomes for yourself or others. Successes achieved by third parties using our services do not ensure that you or anyone else will experience similar results.</p>
        <p class="mb-4">Lilurls does not promise any specific performance level or operational reliability of its service. Furthermore, Lilurls does not make any express or implied representations or warranties regarding the information, content, or services provided on or through our site. To the fullest extent permitted by law, Lilurls disclaims all warranties, both express and implied, including but not limited to implied warranties of merchantability and fitness for a particular purpose.</p>
        
        <h2 class="text-2xl font-semibold mt-6 mb-4">7. Jurisdiction and Governing Law</h2>
        <p class="mb-4">These terms and conditions are governed by and construed in accordance with the laws of Norway, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of Norway.</p>

        <h2 class="text-2xl font-semibold mt-6 mb-4">8. Indemnification</h2>
        <p class="mb-4">You agree to indemnify, defend, and hold harmless Lilurls and its affiliates, officers, agents, employees, and partners from any claim or demand, including reasonable attorney's fees, made by any third party due to or arising out of your use of Lilurls, your violation of these terms, or your violation of any rights of another.</p>

        <h2 class="text-2xl font-semibold mt-6 mb-4">9. Modification and Termination of Service</h2>
        <p class="mb-4">Lilurls reserves the right to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice at any time. You agree that Lilurls shall not be liable to you or to any third party for any modification, suspension, or discontinuance of the Service.</p>

        <h2 class="text-2xl font-semibold mt-6 mb-4">10. Age Restriction</h2>
        <p class="mb-4">Lilurls is not intended for individuals under the age of 13. By using Lilurls, you represent that you are at least 13 years old or that you are using the Service under the supervision of a parent or guardian.</p>
        
        <h2 class="text-2xl font-semibold mt-6 mb-4">11. Limitation of Liability</h2>
        <p class="mb-4">By utilizing Lilurls, you agree to release the site from any and all liability or losses that you, or any associated person or entity, may incur as a result of using the information or resources available on this site. You acknowledge that Lilurls shall not be liable for any form of damages, be they direct, indirect, special, incidental, equitable, or consequential, arising from your use of the site.</p>
        <p class="mb-4">The information, software, products, and services provided by Lilurls may contain inaccuracies or typographical errors. We continually strive to improve and update the site, and changes are periodically made to the content.</p>
        <p class="mb-4">Lilurls makes no claims about the suitability, reliability, availability, timeliness, or accuracy of the information, software, products, and services offered on the site for any purpose. To the maximum extent permissible by law, all such items are provided "As is," without any warranty or condition. Lilurls expressly disclaims all warranties and conditions regarding these items, including all implied warranties or conditions of merchantability, fitness for a particular purpose, title, and non-infringement.</p>
        <p class="mb-4">Under no circumstances will the developers of Lilurls be liable for any damages, including but not limited to loss of use, data, or profits, resulting from the use or performance of the site, the delay or inability to use the site or related services, the provision or failure to provide services, or for any information, software, products, and services obtained through Lilurls. This limitation of liability applies regardless of the legal theory on which the liability is based, whether contract, tort (including negligence), strict liability, or otherwise. However, this limitation may not apply if your jurisdiction does not allow the exclusion or limitation of liability for incidental or consequential damages.</p>
        
        <h2 class="text-2xl font-semibold mt-6 mb-4">9. Privacy Policy Updates</h2>
        <p class="mb-4">Lilurls reserves the right to update or change this policy at any time. Significant changes will be communicated through our website. We encourage users to review this policy periodically for the latest information on our privacy practices.</p>
        
        <h2 class="text-2xl font-semibold mt-6 mb-4">Last Updated</h2>
        <p>February 29, 2024</p>
    </div>
</div>
{% endblock %}