{% extends "base.html" %}
{% load static %}

{% block title %}Tracking - Lilurls{% endblock %}

{% block content %}    
<div class="container mx-auto px-4">
    <div class="py-20">
        <h1 class="text-5xl font-bold text-center text-light">Track a shortened URL</h1>
        <p class="text-base font-light text-center text-light mt-4">Enter a shortened URL to track the times it has been clicked</p>
    </div>
    <div class="max-w-xl mt-20 mb-44 mx-auto rounded-md border border-neutral-800 bg-dark text-center shadow overflow-hidden">
        <div class="p-4">
            <form class="p-8" action="{% url 'track' %}" method="post">
                {% csrf_token %}
                <div class="mb-6 flex rounded overflow-hidden">
                    <input id="tracking_url" class="w-full py-3 px-4 text-gray-300 placeholder-dark-600 bg-dark-900 rounded-l border-2 border-transparent focus:outline-none focus:border-neutral-800" type="url" name="tracking_url" placeholder="{{ example_site_url }}" maxlength="100" required>
                    <button class="bg-light-100 hover:bg-light-300 text-dark font-bold py-3 px-6 rounded-r focus:outline-none focus:shadow-outline" type="submit">Track</button>
                </div>
                {{ form.captcha }}
                <p class="text-xs text-gray-400">By using our service, you agree to our <a href="{% url 'terms' %}" class="text-light hover:text-gray-400 hover:underline">Terms of Service</a> and <a href="{% url 'privacy' %}" class="text-light hover:text-gray-400 hover:underline">Privacy Policy</a>.</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
