{% load static %}

<meta name="description" content="Lilurls - Your quick and easy solution for shortening URLs. Simplify your links for sharing on social media, in documents, or anywhere online.">
<meta name="keywords" content="URL shortener, link reduction, easy link sharing, Lilurls, shorten URLs, tiny URL">
<meta name="author" content="Robert Arnorsson">
<meta property="og:title" content="Effortless URL Shortening with Lilurls">
<meta property="og:type" content="website">
<meta property="og:url" content="https://url.lilurls.com">
<meta property="og:image" content="{% static 'images/lilurls_og.jpg' %}">
<meta property="og:description" content="Lilurls provides an efficient and user-friendly way to shorten long URLs. Perfect for social media, email, and online marketing. Try Lilurls today and simplify your links.">
